
@{
    ViewBag.Title = "element";
    Layout = "~/Views/Shared/_elemLayout1.cshtml";
}

<head>
    <title>partenaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/main.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/part.css") />
    <noscript><link rel="stylesheet" href=@Url.Content("/Content/assets/css/noscript.css") /></noscript>
</head>


<body>

    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="/Content/assets/js/browser.min.js"></script>
    <script src="/Content/assets/js/breakpoints.min.js"></script>
    <script src="/Content/assets/js/util.js"></script>
    <script src="/Content/assets/js/main.js"></script>


    <!-- Wrapper -->
    <section id="wrapper">
       

        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">References</h2>


                <section>


                    <div class="colb">
                        <div class="books-container">
                            <img src="/Content/images/anapec.png" alt="book" class="image">
                            <div class="overlay">
                                <div class="titre"> ANAPEC</div>


                                <i class="panier" class="fas fa-cart-arrow-down"></i>

                            </div>
                        </div>

                        <div class="books-container">
                            <img src="/Content/images/ofppt.png" alt="book" class="image">
                            <div class="overlay">
                                <div class="titre"> OFPPT</div>


                            </div>
                        </div>

                        <div class="books-container">
                            <img src="/Content/images/giac.png" alt="book" class="image">
                            <div class="overlay">
                                <div class="titre"> GIAC</div>

                            </div>
                        </div>

                        <div class="books-container">
                            <img src="/Content/images/C16.png" alt="book" class="image">
                            <div class="overlay">
                                <div class="titre">ALAMANA</div>

                            </div>
                        </div>
                    </div>

                </section>


                <div class="colb">
                    <div class="books-container">
                        <img src="/Content/images/C11.png" alt="book" class="image">
                        <div class="overlay">
                            <div class="titre">IRRIEST</div>

                        </div>
                    </div>

                    <div class="books-container">
                        <img src="/Content/images/C10.png" alt="book" class="image">
                        <div class="overlay">
                            <div class="titre">BRICOMA</div>

                        </div>
                    </div>

                    <div class="books-container">
                        <img src="/Content/images/C13.png" alt="book" class="image">
                        <div class="overlay">
                            <div class="titre">SMS</div>

                        </div>
                    </div>

                    <div class="books-container">
                        <img src="/Content/images/C8.png" alt="book" class="image">
                        <div class="overlay">
                            <div class="titre">ANAJAH</div>

                        </div>








</body>
