
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPageLayout1.cshtml";
}

<head>
    <title>CCSE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/main.css" ) />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/part.css") />

    <noscript><link rel="stylesheet" href=@Url.Content("/Content/assets/css/noscript.css") /></noscript>
</head>

<body>

    <!-- Scripts -->
    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="/Content/assets/js/browser.min.js"></script>
    <script src="/Content/assets/js/breakpoints.min.js"></script>
    <script src="/Content/assets/js/util.js"></script>
    <script src="/Content/assets/js/main.js"></script>


    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-gem"></span></div>
            <h2>CCSE</h2>
            <p>Cabinet de Consulting et Services aux Entreprises <!--<a href="http://html5up.net">HTML5 UP</a>--></p>
        </div>
    </section>

    <!-- Wrapper -->
    <!-- Wrapper -->
    <div>
        <section id="wrapper">

            <!-- One -->
            <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                    <a href="#" class="imager"><img src="~/Content/images/formation.jpg" alt="" /></a>
                    <div class="content">
                        <h2 class="major">Formations</h2>
                        <p>
                            Nous développons et mettons en oeuvre des solutions qui soutiennent votre capacité à évoluer et à innover, pour en faire une source d'aventage concurrentiel et pour promouvoir la valeur des femmes et des hommes de votre organisation.
                        </p>
             
                    </div>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper alt spotlight style2">
                <div class="inner">
                    <a href="#" class="imager"><img src="~/Content/images/evenement.jpg" alt="" /></a>
                    <div class="content">
                        <h2 class="major">Evénementiel</h2>
                        <p>
                            le cabinet CCSE, vous propose de vous accompagner et d'organiser votre évenement.Notre savoir et notre créativité,permettront de reussir ensemble l'organisationde votre événement professinnel ou privé.
                        </p>
                  
                    </div>
                </div>
            </section>

            <!-- Three -->
            <section id="three" class="wrapper spotlight style3">
                <div class="inner">
                    <a href="#" class="imager"><img src="~/Content/images/recouvrement_creances.jpg" alt="" /></a>
                    <div class="content">
                        <h2 class="major">Recouvrement des créances</h2>
                        <p>
                            le cabinet CCSE vous propose des solutions de recouvrement de vos créances,qui s'inscrivent dans une logique de continuité de vos relations commerciales à tavers laquelle la préservation de la relation client est essentielle.
                        </p>
                
                    </div>
                </div>
            </section>

            <!-- Four -->
            <section id="four" class="wrapper alt style1">
                <div class="inner">
                    <h2 class="major">Parmi nos consultants seniors </h2>



                    <div id="fff">
                        <darticle class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img href="#" class="imagez"><img src="/Content/images/c11.jpg" alt="" style="width:100%;">
                                </div>
                                <div class="flip-card-back">
                                    <h3 class="major">Pr. Jean-Claude Martinez</h3>
                                    <p>Pr. Jean-Claude Martinez</h3>
                                    <p id="text1">
                                        Le président fondateur des Universités Fiscales de printemps.
                                        Homme politique français, professeur agrégé de droit public et de sciences politiques   à l'université Paris 2 Panthéon-Assas et auteur de livres de référence sur le droit fiscal.
                                        Ex-parlementaire  européen.
                                        Il a enseigné à l'École Nationale d'administration au Maroc (Université Mohammed V de Rabat) et fut le conseiller fiscal de feu Roi Hassan II.
                                        Il contribua à la création de l'armature fiscale du Maroc moderne.
                                        Parmi les fondateurs de la charte communale de 1976 au Maroc.
                                    </p>
                                    <p></p>

                                </div>
                            </div>
                        </darticle>
                        <darticle class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img href="#" class="imagez"><img src="/Content/images/c2.jpg" alt="" style="width:100%; ">
                                </div>
                                <div class="flip-card-back">
                                    <h3 class="major">Pr. Jacques MALHERBE</h3>

                                    <p id="text1">
                                        Docteur Honoris Causa de l’UniversidadMayor de San Marcos de Lima, au Pérou, il est professeur émérite de l’Université catholique de Louvain (UCL) et de l’ICHEC (Institut catholique des hautes études commerciales),
                                        Professeur invité aux universités de Hambourg, Tilburg, Bologne, Vienne et Castilla-La-Mancha, et à l’EDHEC (École des hautes études commerciales, France), ainsi que membre correspondant de la Real Academia de Jurisprudencia y Legislación de Madrid.
                                        Docteur en droit et licencié en sciences économiques de l’Université catholique de Louvain (UCL) et titulaire d’un Master of Laws (LL.M.) de Harvard University.
                                    </p>
                                    <p></p>

                                </div>
                            </div>
                        </darticle>



                        </ul>
                    </div>
                </div>
            </section>

        </section>
    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">CONTACT</h2>
            
            <form method="post"  enctype="text/plain" >
                <div class="fields">
                    <div class="field">
                        <label for="name" ">Name</label>
                        <input type="text" name="name" id="name"/>
                    </div>
                    <div class="field">
                        <label for="email" ">Email</label>
                        <input type="email" name="email" id="email"/>
                    </div>
                    <div class="field">
                        <label for="message" ">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Envoyer Message" onclick="" /></li>
                </ul>
            </form>
            <ul class="contact">
                <li class="icon solid fa-home">
               
                    Address: Boulevard Mohammed Derfoufi,<br />
                    Immeuble HIMRI 3éme étage N°5, Oujda, Maroc, CP 60000
                </li>
                <li class="icon solid fa-phone">Tél: (212) 642947541<br>Fax: (212) 536-681122</li>
                <li class="icon solid fa-envelope"><a href="#">Email: ccse.oriental@gmail.com</a></li>

            </ul>
            <ul class="copyright">
                <li>&copy; Ofppt:Yousra ALLAOUI,Hajar ABDELLAOUI,Mohammed Amine SADKI,Kaouthar REQQASS</li><!--<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
            </ul>
        </div>
    </section>
</body>
